<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khgkjg12.pictureloader" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <activity
            android:name=".AlbumActivity"
            android:theme="@style/PictureLoaderTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CameraActivity"
            android:theme="@style/PictureLoaderTheme" />
        <activity
            android:screenOrientation="portrait"
            android:theme="@style/PictureLoaderTheme"
            android:name="com.soundcloud.android.crop.CropImageActivity" />
    </application>

</manifest>
